.modal {
    min-width: 400px;
}

.modal-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px auto;
}

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 130px;
    width: 300px;
}

.mat-text-field {
    width: 300px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .button-wrapper button {
        margin-bottom: 10px;
    }

.costListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txtBold {
    font-weight: bolder;
}
