

<div>
    <div class="cardTax">
         <p>@Name</p>
         <p>@Cost</p>
    </div>
</div>
@code {
    [Parameter]

    public string? Name { get; set; }

    [Parameter]

    public string? Cost { get; set; }
}
