@page "/tareas"

<MatHeadline1>
    Tasks
</MatHeadline1>
<input placeholder="Something todo" />
<input placeholder="Description"/>
<button>Add todo</button>

<div>
    <ul>
        @foreach(var task in taks)
        {
            <li>@task.Name</li>
        }
    </ul>
</div>
@code {
    public List<TaskModel> taks = new();
}
