@page "/tareas"

<MatHeadline1>
    Tasks
</MatHeadline1>
<div>
    <InputText @bind-Value="NameTask"/>
    <InputText @bind-Value="DescTask" />
    <InputCheckbox @bind-Value="State"></InputCheckbox>
    <button type="submit" @onclick="Add">Submit</button>
</div>



<div>
    @if (taks.Count > 0)
    {
        <ul>
            @foreach (var task in taks)
            {
                <li>@task.Name</li>
                <li>
                    <input type="checkbox" @bind="task.Completed" />
                    <input @bind="task.Name" />
                </li>
            }
        </ul>
    }

</div>
@code {
    private List<TaskModel> taks = new();

    public string NameTask = String.Empty;
    public string DescTask = String.Empty;
    public bool State = false;
    public void Add(){
        var _task = new TaskModel{ Name = NameTask, Description=DescTask, Completed = State};



        taks.Add(_task);

   

    }
}
