@page "/taxes"
<p>@message</p>

<h3>Taxes</h3>
<ModalForm OnClickEvent="Msg"></ModalForm>

@if(CostsList.Count > 0)
{
    @foreach(var cost in CostsList)
    {
        <p>@cost.Expense</p>
    }
}


@code {
    public List<Expenses> CostsList = new();

    public string message = "hola";
    private void Msg(Expenses tax)
    {
        CostsList.Add(tax);
    }

    
}