@page "/taxes"
@inject IMatDialogService dialog
<h3>Taxes</h3>
<div class="container w-75 mx-auto">
    <MatTextField Label="Ingreso" @bind-Value="@Total" Outlined="true"></MatTextField>   

    <MatTextField Label="Restante" @bind-Value="@Left" Outlined="true" Disabled="true"></MatTextField>

    <ModalForm OnClickEvent="Add" Total="Total"></ModalForm>
</div>


@if(CostsList.Count > 0)
{
    @foreach(var cost in CostsList)
    {
        <TaxCard Name="@cost.Expense" Cost="@cost.Cost" Id="cost.Id" EventDelete="Delete"></TaxCard>
    }
}

@code {
    public List<Expenses> CostsList = new();

    private decimal Total = 0;

    private decimal Left = 0;

    private void Add(Expenses tax)
    {
          CostsList.Add(tax);

    }

    private void Delete(int IdTax)
    {
        var tax = CostsList.Where(c => c.Id == IdTax);
        CostsList.Remove(tax.First());
    }

    
}