@page "/test"
@using MoneyAppLib
@using MoneyAppLib.Components
<h3>Test</h3>


<button @onclick="OpenModal">Press me</button>
<MoneyAppLib.Components.TaxCard Id="1" NameExpense="Food" Value="@MyValue" OnClickEventCount="Count"></MoneyAppLib.Components.TaxCard>
@code {
    public int CountVar { get; set; }
    public int MyValue { get; set; }

    public bool Open    { get; set; }

    public void Sum()
    {
        CountVar += 1;
    }

    public void Count(int value)
    {
        MyValue =+ value;
    }

    public void OpenModal()
    {
        if(Open)
        {
            Open = false;
        }
        else
        {
            Open = true;
        }
    }
}
